#editview {
    overflow-x: hidden;
    overflow-y: hidden;
}

.maskbutton1 {
    height:30px;
    position:absolute;
    background-color: white;
    border-color: #B6D1EC; 
    border-style:solid;
    border-width:1px;
    border-radius:4px;
    border-left-color: transparent;
    color: #B6D1EC;
    z-index:3;
}

.maskbutton2 {
    height:30px;
    position:absolute;
    background-color: white;
    border-color: #B6D1EC; 
    border-style:solid;
    border-width:1px;
    border-radius:4px;
    border-right-color: transparent;
    color: #B6D1EC;
    z-index:3;
}

#canvas {
    height: 99%;
    /* width:500px; */
    /* background-color: green; */
}
.site-card-wrapper {
    background: #ececec;
    /* background: rgb(4,103,142); */
    /* background-image: linear-gradient(white 2px,transparent 0),
    linear-gradient(90deg, white 2px,transparent 0),
    linear-gradient(hsla(0,0%,100%,.3) 1px,transparent 0),
    linear-gradient(90deg,hsla(0,0%,100%,.3) 1px,transparent 0);
    background-size:75px 75px,75px 75px,15px 15px,15px 15px; */
    background-image: linear-gradient(
      90deg,
      rgba(255,255,255, 1) 10%,
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(rgba(255,255,255, 1) 10%, rgba(0, 0, 0, 0) 10%);
    background-size: 10px 10px;
    padding: 30px;
}
.ant-card {
    background: #ffffff;
    /* background: rgba(8, 74, 104,0.5); */
    /* background: rgb(0,104,140); */
    border-radius: 10px;
    /* border-style:solid; */
    /* border-width: 1px;
    border-color: rgb(8,74,104); */
    /* box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.5), -10px 10px 10px 10px rgba(0,0,0,0.5)  */
}
.anticon-tag{
    font-family:"iconfont" !important;
    text-align: center;
    font-size:25px;    /*控制icon大小 */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

.anticon-download{
    font-family:"iconfont" !important;
    text-align: center;
    font-size:25px;    /*控制icon大小 */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

.anticon-share-alt{
    font-family:"iconfont" !important;
    text-align: center;
    font-size:25px;    /*控制icon大小 */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
}
.anticon-delete{
    font-family:"iconfont" !important;
    text-align: center;
    font-size:25px;    /*控制icon大小 */
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
}
.showBookmarks{
    margin-top: -218px;
    transition:all 0.3s ease-in;
}
.hideBookmarks{
    margin-top: -40px;
    transition:all 0.3s ease-in;
}
.anticon-redo{
    font-family: "iconfont" !important;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

#canvas-ant-layout {
    height: calc(100vh - 25px) ;
}

#canvas-pane {
    height: calc(100vh - 73px) ;
}

